[Unit]
Description=App B Service (depends on C)
After=appC.service
PartOf=appC.service

[Service]
User=scoreuser
ExecStartPre=/bin/systemctl is-active --quiet appC.service
ExecStart=/opt/appB/bin/appB
WorkingDirectory=/opt/appB/bin
GuessMainPID=no

Type=notify
NotifyAccess=main

CPUSchedulingPolicy=rr
CPUSchedulingPriority=40
Nice=0
TasksMax=5
MemoryMax=64M
LimitMEMLOCK=16M
PrivateIPC=no
LimitCORE=infinity
StandardInput=null
StandardOutput=journal
StandardError=journal
WatchdogSec=5s
Restart=no
RestartSec=1s
TimeoutStopSec=5s

Environment=APP_NAME=AppB
Environment=APP_ASIL=B
Environment=APP_MAX_INSTANCES=1
Environment=APP_HEARTBEAT_INTERVAL=1000

[Install]
WantedBy=multi-user.target
