[Unit]
Description=ReportError Service
OnFailure=appB.service

[Service]
User=scoreuser
ExecStart=/opt/appC/bin/appC
WorkingDirectory=/opt/appC/bin
GuessMainPID=no

Type=notify
NotifyAccess=main

CPUSchedulingPolicy=rr
CPUSchedulingPriority=50
Nice=-5
TasksMax=5
MemoryMax=32M
LimitMEMLOCK=16M
PrivateIPC=no
LimitCORE=infinity
StandardInput=null
StandardOutput=journal
StandardError=journal
WatchdogSec=5s
Restart=on-failure
RestartSec=1s
TimeoutStopSec=5s

Environment=APP_NAME=ReportError
Environment=APP_ASIL=B
Environment=APP_MAX_INSTANCES=1
Environment=APP_HEARTBEAT_INTERVAL=1000

[Install]
WantedBy=multi-user.target

