[Unit]
Description=App A Service (depends on B)
After=appB.service
PartOf=appB.service

[Service]
User=scoreuser
ExecStartPre=/bin/systemctl is-active --quiet appB.service
ExecStart=/opt/appA/bin/appA
WorkingDirectory=/opt/appA/bin
GuessMainPID=no

Type=notify
NotifyAccess=main

CPUSchedulingPolicy=rr
CPUSchedulingPriority=30
Nice=5
TasksMax=5
MemoryMax=128M
LimitMEMLOCK=32M
PrivateIPC=no
LimitCORE=infinity
StandardInput=null
StandardOutput=journal
StandardError=journal
WatchdogSec=5s
Restart=no
RestartSec=1s
TimeoutStopSec=5s

Environment=APP_NAME=AppA
Environment=APP_ASIL=QM
Environment=APP_MAX_INSTANCES=1
Environment=APP_HEARTBEAT_INTERVAL=1000

[Install]
WantedBy=multi-user.target
